################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BJBasicStrategy/v15/.suo
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/BasicStrategy/.vs/BasicStrategy/v15/Server/sqlite3/storage.ide-wal
/BasicStrategy/.vs/BasicStrategy/v15/Server/sqlite3/storage.ide-shm
/BasicStrategy/.vs/BasicStrategy/v15/Server/sqlite3/storage.ide
/BasicStrategy/.vs/BasicStrategy/v15/Server/sqlite3/db.lock
/BasicStrategy/.vs/BasicStrategy/v15/.suo
